.venv/
venv/
__pycache__/
*.pyc
.env
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
archive/

notebooks/


#
manual_spd_to_boundary_neighborhood_crosswalk_exploded.csv
manual_spd_to_boundary_neighborhood_crosswalk.csv
weekly_volume.parquet
priority_hourly_full.parquet
monthly_volume.parquet
monthly_by_neighborhood.parquet
monthly_by_event_group.parquet
monthly_by_call_type.parquet
spd_event_response_times_2009_2026.parquet
spd_event_response_times_2009_2026.csv
*.tmp
reports/

